* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  background: radial-gradient(
    ellipse farthest-corner at bottom right,
    #cfcfcf,
    #efefef
  );
}

.header {
  text-align: center;
  color: #333;
}

.npc-container {
  width: 100%;
  text-align: center;
  line-height: 2em;
}

.row {
  text-align: left;
  display: flex;
}

.column {
  flex: 50%;
}

.left {
  width: 50%;
}

.right {
  flex-grow: 1;
}

.traits-box {
  border: 2px;
}

.button {
  margin-top:10px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.centered {
  text-align: center;
  width: 50%;
}

.theline {
  margin-top:10px;
  margin-bottom: 10px;
}